@import "~assets/styles/constants.scss";

.wrapper {
  margin-bottom: 140px;
}

.title {
  font-size: 55px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 400;
  @media (max-width: 780px) {
    font-size: 45px;
    text-align: center;
    // backdrop-filter: blur(4px);
    text-shadow: $titleBorder;
  }
  @media (max-width: 480px) {
    font-size: 35px;
  }
}

.category {
  margin-bottom: 60px;
  &:nth-child(2n - 1) {
    .categoryTitle {
      text-align: end;
      @media (max-width: 780px) {
        text-align: center;
      }
    }
    .categoryContainer {
      justify-content: end;
    }
    .categoryLink {
      &:nth-child(4n),
      &:nth-child(4n - 1) {
        transform: translateX(calc(-50% + 10px));
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(2n - 1) {
        margin-left: 40%;
      }
      @media (max-width: 1100px) {
        &:nth-child(2n - 1) {
          margin-left: 20%;
        }
      }
      @media (max-width: 900px) {
        &:nth-child(4n),
        &:nth-child(4n - 1) {
          transform: none;
        }
        &:nth-child(2n - 1) {
          margin-left: 0;
        }
      }
    }
  }
}

.categoryTitle {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-image: $ukrainianFlag2;
  }
  @media (max-width: 780px) {
    text-align: center;
    // background-color: rgba(white, 0.7);
    // backdrop-filter: blur(4px);
    text-shadow: $titleBorder;
  }
  @media (max-width: 480px) {
    font-size: 25px;
  }
}

.categoryContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryLink {
  position: relative;
  border: 3px solid rgba(black, 0.5);
  padding: 18px 0px;
  width: 20%;
  min-width: 200px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: white;
  text-align: center;
  &:nth-child(4n),
  &:nth-child(4n - 1) {
    transform: translateX(calc(50% - 20px));
  }
  &:nth-child(2n) {
    margin-right: 40%;
  }
  &:hover {
    background-color: $yellow;
  }
  &__inactive {
    background-color: $gray;
    cursor: not-allowed;
    &:hover {
      background-color: $gray;
    }
  }
  @media (max-width: 1100px) {
    &:nth-child(2n) {
      margin-right: 20%;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    &:nth-child(4n),
    &:nth-child(4n - 1) {
      transform: none;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
