@import "~assets/styles/constants.scss";

.select {
  position: relative;
  height: 53px;
  width: 100%;
  max-width: 277px;
  border-radius: 10px;
  background-color: white;
  font-size: 17px;
  padding-inline: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 13px;
}
