@import "~assets/styles/constants.scss";

.button {
  background-color: $yellow;
  min-width: 124px;
  width: fit-content;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 13px 5px;
  box-shadow: 1px 5px 10px rgba(black, 0.2);
  &::first-letter {
    text-transform: capitalize;
  }
  &__blue {
    background-color: $blue;
    color: white;
  }
  &__disabled {
    background-color: $gray;
    pointer-events: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  @media (max-width: 480px) {
    width: 100px;
    height: 40px;
    padding: 12px 0;
  }
}
