@import "~assets/styles/constants.scss";

.container {
  position: relative;
  margin-top: auto;
  min-height: 200px;
  width: 100%;
  background-color: rgba($yellow2, 0.5);
  display: flex;
  flex-direction: column;
  @media (max-width: 780px) {
    min-height: 350px;
    display: block;
  }
  @media (max-width: 480px) {
    min-height: 300px;
  }
  @media (max-width: 400px) {
    min-height: 350px;
  }
}

.links {
  padding: 0 20px 0 70px;
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto 30px;
  @media (max-width: 1130px) {
    padding: 0 10px 0 50px;
    margin: auto;
  }
  @media (max-width: 780px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding: 10px 90px 10px 10%;
  }
  @media (max-width: 480px) {
    padding: 10px 70px 10px 10%;
  }
  @media (max-width: 400px) {
    padding: 10px 10%;
  }
}

.section {
  margin: 0 10px;
  // width: 100%;
}

.sectionTitle {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0;
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
  &:first-letter {
    text-transform: uppercase;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
  &:hover {
    opacity: 0.5;
  }
  &__notAllowed {
    color: rgb(122, 122, 122);
    cursor: not-allowed;
    &:hover {
      opacity: 1;
    }
  }
}

.followOuterWrapper {
  height: 100%;
  position: relative;
  width: 200px;
  margin-left: 20px;
  @media (max-width: 780px) {
    position: absolute;
    right: -70px;
    top: 150px;
    height: fit-content;
    transform: rotate(-90deg);
  }
  @media (max-width: 480px) {
    top: 100px;
  }
  @media (max-width: 400px) {
    width: fit-content;
    transform: none;
    top: initial;
    bottom: 20px;
    right: 50%;
  }
}

.followInnerWrapper {
  position: absolute;
  bottom: 0;
  @media (max-width: 400px) {
    transform: translateX(-50%);
  }
}

.followLinks {
  display: flex;
  justify-content: space-between;
}

.followText {
  font-size: 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
}

.followLink {
  width: 25px;
  &:hover {
    opacity: 0.5;
  }
  @media (max-width: 480px) {
    width: 20px;
  }
}
