@import "~assets/styles/constants.scss";

.wrapper {
  @include container;
  position: relative;
  padding-bottom: 150px;
}

.button {
  display: block;
  margin: 110px auto 0;
  @media (max-width: 1130px) {
    margin: 80px auto 0;
  }
  @media (max-width: 780px) {
    margin: 60px auto 0;
  }
  @media (max-width: 480px) {
    margin: 40px auto 0;
  }
  @media (max-width: 400px) {
    margin: 40px auto 0;
  }
}
