@font-face {
  font-family: Avenir Next;
  src: url("~assets/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Avenir Next;
  src: url("~assets/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Avenir Next;
  src: url("~assets/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 500;
}
